*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body {
    font-family: 'Lato',sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    align-items: center;
    max-width: 940px;
    margin: 0 auto;
}
@media screen and (max-width:768px){
    .wrapper {
        max-width: 688px;
    }
   
}
@media screen and (max-width:375px){
    .wrapper {
        max-width: 314px;
    }
   
}
.active {
    color:#F06C64 !important;
}
/* header*/

header {
    position: fixed;
    width: 100%;
    opacity: 0.95;
    padding-top: 30px;
    padding-bottom: 31px;
    z-index: 200;
}
@media screen and (max-width:375px) {
    .header .wrapper {
        max-width: 375px;
    }
}
@media screen and (max-width:375px) {
    header {
        padding-top: 24px;
        padding-bottom: 23px;
    } 
}
.header {
    background-color: #2D303A;
    border-bottom: 5px solid #323746;
    text-transform: uppercase;
}

.header_container {
    display: flex;
    max-width: 1020px;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    height: 25px;
}
@media screen and (max-width:375px) {
    .header_logo {
        justify-content: center;
    }
}
.header_logo h1 {
    color: #FFFFFF;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
}

.header_logo span {
    color: #F06C64;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
}
.header_logo h1:hover {
    cursor: default;
}
.header_nav {
    margin-top: 9px;
}
@media screen and (max-width:375px) {
    .header_nav {
        display: none;
    }
}
.header_nav ul>li>a {
    color:#FFFFFF;
}
.header_nav ul {
    font-size: 0px;
}
.header_nav ul>li>a:hover {
    color: #F06C64;
    transition: 0.5s;
}
.header_nav li {
    display: inline-block;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    word-spacing: 15px;
    letter-spacing: -0.035em;
}
.header_nav ul li:not(:last-child)::after {
    content: "·";
    font-size: 12px;
    line-height: 14px;
    margin-left: 16px;
    color:#FFFFFF;
}
.header_nav ul li:not(:first-child) {
    margin-left: 15px;
}
.header_fixed {
    height: 89px;
    background-color: #2D303A; 
    border-bottom: 5px solid #323746;
}
@media screen and (max-width:375px) {
    .header_fixed {
        height: 71px;
    }
}

/* header*/


/*main*/

.main {
    background-color: #F06C64;
    border-bottom: 6px solid #EA676B;
}
@media screen and (max-width:375px){
    .main .wrapper {
        max-width: 375px;
    }
}
.main_bg {
    background-color: #648BF0;
    border-bottom: 6px solid #5e85F6;
}

.main_сontainer {
    display: flex;
    justify-content: space-between;
    transition: all 1.2s ease-in-out;

}
.main__arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
    width: 72px;
    text-align: center;
}
@media screen and (max-width:375px){
    .main__arrow-left, .main__arrow-right{
        min-width: 46px;
    }
}
.main__arrow-left img {
    color:#000000;
    filter: grayscale(100%) ;
    opacity: 0.3;
}
.main__arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
    width: 72px;
    text-align: center;
}

.main__arrow-right img {
    color:#000000;
    filter: grayscale(100%) ;
    opacity: 0.3;
}
.main__arrow-left:hover {
    cursor: pointer;
}
.main__arrow-right:hover {
    cursor: pointer;
}
.main_content {
    display: none;
    position: relative;
    min-height: 594px;
    width: 796px;
    visibility: hidden;
 
}
@media screen and (max-width:375px) {
    .main_content {
        max-height: 218px;
    }
}
@media screen and (max-width:768px){
    .main_content {
        display: none;
        position: relative;
        min-height: 451px;
        width: 796px;
        visibility: hidden;
     
    } 
}
.selected {
    display: flex;
    visibility: visible !important;
}
.phone-vertical {
    margin-top: 54px;
    position: absolute;
}
@media screen and (max-width:768px){
    .phone-vertical {
        margin-top: 40px;
        position: absolute;
    }
    .phone-vertical img {
        max-width: 180px;
        max-height: 363px;
    }
   
}
@media screen and (max-width:375px){
    .phone-vertical {
        margin-top: 20px;
        position: absolute;
    }
    .phone-vertical img {
        max-width: 79px;
        max-height: 168px;
    }
   
}
.phone_horizontal {
        position: absolute;
        left: 313px;
        top: 177px;
}
@media screen and (max-width:768px){
    .phone_horizontal {
        position: absolute;
        left: 234px;
        top: 133px;
    }
    .phone_horizontal img {
        max-width: 364px;
        max-height: 180px;
    }
   
}
@media screen and (max-width:375px){
    .phone_horizontal {
        top:0;
        left:0;
        position: absolute;
    }
    .phone_horizontal img {
        width: 168px;
        height: 79px;
    }
   
}
.slider-content {
    left: 271px;
    position: absolute;
    z-index: 2;
    top:43px;
}
@media screen and (max-width:768px){
    .slider-content {
        top: 40px;
        left: 204px;
        position: absolute;
        z-index: 2;

    }
    .slider-content img {
        max-width: 191px;
        max-height: 386px;
    }
}
.phone-content-mini {
    top:152px;
    position: absolute;
    z-index: 1;
    opacity: 0.99;
}
@media screen and (max-width:768px) {
    .phone-content-mini img {
        max-width: 117px;
        max-height: 236px;
    }
}
.phone-content-mini_first {
    left: 500px;
    opacity: 0.5;
}
@media screen and (max-width:768px) {
    .phone-content-mini_first {
        left:105px;
        top:120px;
    }
}
.phone-content-mini_second {
    left: 140px;
    opacity: 0.5;
}
@media screen and (max-width:768px) {
    .phone-content-mini_second {
        left:376px;
        top:120px;
    }
}
.main_blue {
    background-color: #767E9E;
}
/*main*/

/*services*/


.services {
    background-color: #F2F2F2;
    border-bottom: 6px solid #FFFFFF;
    padding: 59px 0px 59px 0px;
}
@media screen and (max-width:768px) {
    .services {
        background-color: #F2F2F2;
        border-bottom: 6px solid #FFFFFF;
        padding: 40px 0px 64px 0px;
    }
}
@media screen and (max-width:375px) {
    .services {
        background-color: #F2F2F2;
        border-bottom: 6px solid #FFFFFF;
        padding: 25px 0px 20px 0px;
    }
}
.services__title {
    display: flex;
    flex-direction: column;
}
.services__title__name {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 18px;
    color: #666D89;
}
.services__title__desc {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 60px; 
    color: #767E9E;
}
.services__elements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 20px;
}
@media screen and (max-width:768px){
    .services__elements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 20px;
    }
   
}
@media screen and (max-width:375px){
    .services__elements {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px 20px;
    }
   
}
.services__element {
    display: flex;
}

.services__avatar {
   margin-right: 20px;
}

.services__desc__title {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
}
.services__desc__text {
    margin-top: 7px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767E9E;
}

/*services*/


/*Portfolio*/


.porfolio {
    background-color: #2D303A;
    border-bottom: 6px solid #323746;
    padding: 59px 0px 59px 0px;
}
@media screen and (max-width:768px) {
    .porfolio {
        background-color: #2D303A;
        border-bottom: 6px solid #323746;
        padding: 59px 0px 73px 0px;
    }
}
@media screen and (max-width:375px) {
    .porfolio {
        background-color: #2D303A;
        border-bottom: 6px solid #323746;
        padding: 42px 0px 42px 0px;
    }
}
.portfolio_title{
    display: flex;
    flex-direction: column;
}
.portfolio_title>h1{
    margin-bottom: 14px;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
}
.portfolio_title>p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
}
.portfolio_nav {
    padding: 11px 0 18px 0;
}
.portfolio_tags {
    padding: 11px 0 18px 0 ;
}
.tag:not(:first-child) {
    margin-left: 6px;
}
.tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    background-color: #2D303A;
    color: #767E9E;
    border: 1px solid #767E9E;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 4px 7px 4px 7px;
}
.tag:hover {
    cursor: pointer;
    color: #DEDEDE;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 1s ease-in-out;
}
.tag:focus {
    outline: none;
}
.tag_active {
    color: #DEDEDE;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: default;
}
.tag_active:hover {
    cursor: default;
}
.portfolio__content {
    display: flex;

}
.portfolio__element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
@media screen and (max-width:768px){
    .portfolio__element{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
   
}
@media screen and (max-width:375px){
    .portfolio__element{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
   
}
.avatar:hover {
    cursor: pointer;
}
@media screen and (max-width:375px){
    .avatar img {
        max-width: 151px;
        max-height: 128px;
    }
}

/*Portfolio*/


.about {
    background-color: #F2F2F2;
    border-bottom: 5px solid #FFFFFF;
    padding: 59px 0px 59px 0px;
}
@media screen and (max-width:768px){
    .about {
        background-color: #F2F2F2;
        border-bottom: 5px solid #FFFFFF;
        padding: 52px 0px 75px 0px;
    }
}
@media screen and (max-width:375px){
    .about {
        background-color: #F2F2F2;
        border-bottom: 5px solid #FFFFFF;
        padding: 33px 0px 45px 0px;
    }
}
.about_title {
    display: flex;
    flex-direction: column;
}
.about_title>h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #666D89;
}
.about_title>p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767E9E;
    padding: 14px 0 57px 0;
}
.about_profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
@media screen and (max-width:375px){
    .about_profiles {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
    }
}
.profile {
    display: flex;
    flex-direction: column;
}
.profile_photo img{
    max-width: 300px;
}
@media screen and (max-width:768px) {
    .profile_photo img{
        max-width: 219px;
    }
}
@media screen and (max-width:375px) {
    .profile_photo img{
        min-width: 314px;
        max-height: 314px;
    }
}
.profile_text {
    display: flex;
    flex-direction: column;
}
.profile_text h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
    margin-top: 17px;
    margin-bottom: 7px;
}
.profile_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767E9E;
}
.profile_social {
    display: flex;
    margin-top: 12px;
}
.profile_social_avatar {
    margin-right: 8px;
}
.profile_social_avatar a:hover{
 cursor: pointer;
}
.contact {
    background-color: #F06C64;
    border-bottom: 6px solid #EA676B;
    padding: 59px 0px 59px 0px;
}
@media screen and (max-width:768px){
    .contact {
        background-color: #F06C64;
        border-bottom: 6px solid #EA676B;
        padding: 53px 0px 45px 0px;
    }
}
@media screen and (max-width:375px){
    .contact {
        background-color: #F06C64;
        border-bottom: 6px solid #EA676B;
        padding: 44px 0px 4px 0px;
    }
}
.contact_title {
    display: flex;
    flex-direction: column;
}
.contact_title h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #F0D8D9;
}
.contact_title p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #F0D8D9;
    padding: 14px 0 57px 0;
}
.contact_main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
}
@media screen and (max-width:375px){
    .contact_main {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 32px;
    } 
}
.form_contact {
    display: flex;
    flex-direction: column;
}
.form_contact [type="text"],
.form_contact [type="email"]
 {
    height: 38px;
    background-color: #D6564F;
    color: #F48C8F;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    border: none;
    border-radius: 5px;
    padding-left: 14px;
    margin-bottom: 14px;
}
.form_contact [type="text"]:focus {
    border: #323746;
}
.form_contact [type="text"]:nth-child(4) {
    height: 159px;
    padding-top: 10px;
    resize: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #F48C8F;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #F48C8F;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #F48C8F;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   #F48C8F;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

.form_contact [type="submit"] {
    background-color: #FBC65F;
    border: none;
    border-radius: 5px;
    height: 38px;
    width: 136px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #886A30;
    text-transform: uppercase;
}
.form_contact [type="submit"]:hover {
   cursor: pointer;
}
.form_contact [type="submit"]:focus {
    outline: none;
}
.contact_inf {
     display: flex;
     flex-direction: column;
}
.contact_inf h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #F0D8D9;
    margin-bottom: 7px;
}
.contact_inf p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #F0D8D9;
    margin-bottom: 15px;
}
.contact_list {
     width: 148px;
     height: 63px;
}
.contact_list li{
    width: 148px;
    height: 19px;
}
.contact_list a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #F0D8D9;
    margin-bottom: 3px;
}
.contact_list ul>li:nth-child(1)>img {
     margin-right: 14px;
}
 .contact_list ul>li:nth-child(2)>img {
    margin-right: 11px;
}
.contact_list ul>li:nth-child(3)>img {
    margin-right: 10px;
}
.footer {
    background-color: #2D303A;
    height: 76px;
}
.footer_main {
    display: flex;
    justify-content: space-between;
    height: 76px;
}
.footer_title {
    margin-top: 30px;
    margin-bottom: 29px;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    color: #666D89;
    align-items: center;
}
.footer_contact {
    display: flex;
    margin-top:20px;
    margin-bottom:20px;
    margin-right: 2px;
}
.footer_contact img {
    margin-right: 8px;
}
.footer_contact a:hover {
    cursor: pointer;
}

