//////////////////////////
header {
    position: fixed;
    width: calc(100% - 80px);
    padding: 30px 40px 30px 40px;
    z-index: 200;
    @media screen and (max-width:768px) {
        width: calc(100% - 40px);
        padding: 30px 20px 30px 20px;
    }
}
//////////////////////////
.header {
    background-color: #2D303A;
    border-bottom: 5px solid #323746;
    text-transform: uppercase;
    &_fixed {
        height: 89px;
        background-color: #2D303A; 
        @media screen and (max-width:375px) {
            height: 71px;
        }
    }

    &_container {
        display: flex;
        max-width: 1020px;
        justify-content: space-between;
        @media screen and (max-width:768px) {
            display: flex;
            max-width: 1020px;
            justify-content: flex-start;
        }
    }
    &_logo {
        display: flex;
        height: 25px;
        @media screen and (max-width:768px) {
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            display: flex;
        }
        h1 {
            color: #FFFFFF;
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: -0.03em;
            &:hover {
                cursor: default;
            }
        }
        span {
            color: #F06C64;
            font-family: 'Lato',sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
            letter-spacing: -0.03em;
            &:hover {
                cursor: default;
            }
        }
    }
    &_nav {
        &_modal {
            display: none;
            height: 100vh;
            width: 100%;
            background-color: #2D303A;
            position: absolute;
            opacity: 0.8;
            top: 0px;
            left: 0;
            box-sizing: border-box;
            &_opened {
                display: block;
            }
        }
        ul{
            font-size: 0px;
            li {
                display: inline-block;
                font-family: 'Lato',sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                word-spacing: 15px;
                letter-spacing: -0.035em;
                &:not(:last-child)::after {
                    content: "·";
                    font-size: 12px;
                    line-height: 14px;
                    margin-left: 16px;
                    color:#FFFFFF;
                }
                &:not(:first-child) {
                    margin-left: 15px;
                }
                a{
                    color:#FFFFFF;
                    &:hover{
                        color: #F06C64;
                        transition: 0.5s;
                    }
                }
            }
        }
        margin-top: 9px;
        @media screen and (max-width:768px) {
                &{
                    left: 0px;
                    z-index: 19;
                    display: block;
                    height: 101vh;
                    width: 70%;
                    background-color: #2D303A;
                    position: absolute;
                    top: -15px;
                    padding: 40% 9%;
                    box-sizing: border-box;
                    box-shadow: 0px -40px 20px ;
                    animation-name: slidein;
                    animation-duration: 1s;
                    animation-direction: normal;     
                    overflow: auto; 
                    transform: translateX(-600px);
                    transition: transform .5s ease-in-out;
                }
                ul {
                    li {
                    padding-bottom: 27px;
                    padding-left: 30px;
                    }
                    a {
                        font-size: 24px;
                    }
                }
                &_opened {
                    left: 0px;
                    z-index: 19;
                    display: block;
                    height: 101vh;
                    width: 70%;
                    background-color: #2D303A;
                    position: absolute;
                    top: -15px;
                    padding: 40% 9%;
                    box-sizing: border-box;
                    box-shadow: 0px -40px 20px ;
                    animation-name: slidein;
                    animation-duration: 1s;
                    animation-direction: normal;     
                    overflow: auto; 
                    transform: translateX(0px);
                    transition: transform 1s ease-in-out;
                }
                @keyframes slidein {
                    from {
                        left: -340px;
                    }
                    to {
                        left: 0px;
                    }
                  }
            }
            &_menu{
                transition: 0.4s ease-in-out;
                &_opened {
                    display: block;
                    height: 110vh;
                    width: 70%;
                    background-color: #2D303A;
                    position: absolute;
                    top: -15px;
                    left: 0;
                    padding: 40% 9%;
                    box-sizing: border-box;
                    z-index: 18;
                    transition: 0.8s ease-in-out;
                    transform: translateX(0px);
                    overflow: hidden;
                    &.close{
                        transition: 0.4s ease-in-out;
                        transform: translateX(-400px);
                    }
                }
                &_active {
                    display: block;
                }
        }
   
    }
}
@media screen and (max-width:768px) {
    #header_nav{
        flex-direction: column;
        display: flex;
        & li{
            &:not(:last-child)::after{
                content: none ;
            }
            &:not(:first-child) {
                margin-left: 0 ;
            }
        }
    }
}
// BURGER*
.hamburger-menu {
    &:hover{
        cursor: pointer;
    }
    width: 1;
    display: none;
    &_img {
        display: flex;
        align-items: center;
    }
    @media screen and (max-width:768px) {
        &{
            display: flex;
            transition: 0.3s ease-in-out;
            z-index: 20;
        }
        &_img_opened {
            transform: rotate(90deg);
        }
    }
}
